body {
    margin: 0;
    padding: 0;
    background-color: cyan;
    height: 100vh;
}

#login .container #login-row #login-column #login-box {
    margin-top: 120px;
    max-width: 600px;
    height: auto;
    border: 1px solid rgb(128, 128, 128);
    background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box #login-form {
    padding: 200px;
}

#login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
}

.space {
    width: 100%;
}

